body {
    font-family: 'Roboto', sans-serif;
}

.headline-login {
    font-size: 2.5rem;
    align-self: center;
}

.link {
    text-decoration: none;
    font-size: 1.5rem;
    align-self: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-field[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.input-field[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.input-field[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.menu-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-item {
}

.big-input {
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.sign-login-container {
    width: 50%;
    margin: 20vh auto 0;
    text-align: center;
}

.headline {
    text-align: center;
    margin-bottom: 70px;
    font-size: 2.3rem;
}

.align-left {
    text-align: left !important;
}

.standard-button {
    margin-top: 30px;
    padding:1em 2em;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color:#FFFFFF;
    font-size: 1.1rem;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
}
.standard-button:active {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
@media all and (max-width:30em){
     a.button7{
        display:block;
        margin:0.4em auto;
    }
}
